.leftBox {
  color: #a8200e;
  font-size: 40px;
  text-align: center;
  border: 10px solid red;
  border-radius: 10%;
  padding: 20px;
  height: 250px;
  text-overflow: ellipsis;

  vertical-align: middle;
}

.rightBox {
  color: green;
  font-size: 30px;
  text-align: center;
  border: 10px solid green;
  border-radius: 10%;
  padding: 20px;
  height: 250px;
}
