.App {
  text-align: center;
}

html {
  background: #000;
  font-family: "Noto Serif", serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

.keys {
  display: block;
  width: 100%;
  height: 350px;
  max-width: 880px;
  position: relative;
  margin: 40px auto 0;
  cursor: none;
}

.key {
  position: relative;
  border: 4px solid black;
  border-radius: 0.5rem;
  transition: all 0.07s ease;
  display: block;
  box-sizing: border-box;
  z-index: 2;
}

.key:not(.sharp) {
  float: left;
  width: 14%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
}

.key.sharp {
  position: absolute;
  width: 10%;
  height: 60%;
  background: #000;
  color: #eee;
  top: 0;
  z-index: 3;
}

#Db {
  left: 9%;
}

#Eb {
  left: 23%;
}

#Gb {
  left: 51%;
}

#Ab {
  left: 65%;
}

#Bb {
  left: 79%;
}

.playing {
  transform: scale(0.95);
  border-color: #a8200e;
  box-shadow: 0 0 1rem #a8200e;
}

.keyMapping {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 7px;
  font-size: 20px;
}

.octave {
  color: #a8200e;
  font-size: 20px;
}
